.title{
    color: orange;
    font-weight: 700;
    font-style: italic;
}

.button1{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;

     margin: 0;
     padding: 0.5rem 1rem;

    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;

    color: red;
    background-color: antiquewhite;
}

.button2{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;

     margin: 0;
     padding: 0.5rem 1rem;

    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;

    color:brown;
    background-color: aliceblue;
}