@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin:0;
    padding:0;
}

.title_1{
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.title_2{
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.bar_bg{
    background-color: #ffe4bf;
}

.bg{
    background-color: #fffae6;
}

.button_1{
    width: 0px;
    margin: 0px auto;
    top:-50px;
    left: -120px;
    position: relative
}

.go{
    position: absolute;
    display:none;
}

.button_1:hover .go{
    display:block;
}
.button_1:hover .start{
    display:none;
}

.button_2{
    width: 0px;
    margin: 0px auto;
    top:0px;
    left: -230px;
    position: relative
}

.up_hover{
    position: relative;
    display:none;
}

.button_2:hover .up_hover{
    display:block;
}
.button_2:hover .up{
    display:none;
}

.table_res{
    font-family: 'Do Hyeon', sans-serif;
}

